@font-face {
  font-family: 'icomoon';
<<<<<<< HEAD:web/app/themes/prike-theme/resources/images/icons/style.scss
  src: url('fonts/icomoon.eot?lzun2x');
  src: url('fonts/icomoon.eot?lzun2x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lzun2x') format('truetype'),
    url('fonts/icomoon.woff?lzun2x') format('woff'),
    url('fonts/icomoon.svg?lzun2x#icomoon') format('svg');
=======
  src:  url('fonts/icomoon.eot?1l5c1w');
  src:  url('fonts/icomoon.eot?1l5c1w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1l5c1w') format('truetype'),
    url('fonts/icomoon.woff?1l5c1w') format('woff'),
    url('fonts/icomoon.svg?1l5c1w#icomoon') format('svg');
>>>>>>> feature/PRIKE-174-product-cards---fe:web/app/themes/prike-theme/resources/images/icons/prike-icons/style.css
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD:web/app/themes/prike-theme/resources/images/icons/style.scss
.icon-acc:before {
  content: '\e900';
}
.icon-arrow-right:before {
  content: '\e901';
=======
.icon-support:before {
  content: "\e900";
}
.icon-bag-1:before {
  content: "\e901";
>>>>>>> feature/PRIKE-174-product-cards---fe:web/app/themes/prike-theme/resources/images/icons/prike-icons/style.css
}
.icon-awwards:before {
  content: '\e902';
}
<<<<<<< HEAD:web/app/themes/prike-theme/resources/images/icons/style.scss
.icon-bag-1:before {
  content: '\e903';
}
.icon-bag .path1:before {
  content: '\e904';
  color: rgb(29, 28, 32);
}
.icon-bag .path2:before {
  content: '\e905';
  margin-left: -1em;
  color: rgb(29, 28, 32);
}
.icon-bag .path3:before {
  content: '\e906';
  margin-left: -1em;
  color: rgb(228, 189, 113);
}
.icon-bag .path4:before {
  content: '\e907';
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-bd:before {
  content: '\e908';
}
.icon-benefits:before {
  content: '\e909';
}
.icon-bonus:before {
  content: '\e90a';
}
.icon-calendar:before {
  content: '\e90b';
}
.icon-categories-1:before {
  content: '\e90c';
}
.icon-categories:before {
  content: '\e90d';
}
.icon-check-square:before {
  content: '\e90e';
}
.icon-check:before {
  content: '\e90f';
}
.icon-clock:before {
  content: '\e910';
}
.icon-close:before {
  content: '\e911';
}
.icon-credit-card:before {
  content: '\e912';
}
.icon-delivery:before {
  content: '\e913';
}
.icon-down:before {
  content: '\e914';
}
.icon-download:before {
  content: '\e915';
}
.icon-edit-3:before {
  content: '\e916';
}
.icon-eye-off:before {
  content: '\e917';
}
.icon-eye:before {
  content: '\e918';
}
.icon-fax:before {
  content: '\e919';
}
.icon-file:before {
  content: '\e91a';
}
.icon-info:before {
  content: '\e91b';
}
.icon-left:before {
  content: '\e91c';
}
.icon-link:before {
  content: '\e91d';
}
.icon-lock:before {
  content: '\e91e';
}
.icon-logout:before {
  content: '\e91f';
=======
.icon-Icon-star:before {
  content: "\e903";
}
.icon-categories-1:before {
  content: "\e904";
}
.icon-wishlist:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-parcel-terminal:before {
  content: "\e908";
}
.icon-bd:before {
  content: "\e909";
}
.icon-delivery:before {
  content: "\e90a";
}
.icon-2:before {
  content: "\e90b";
}
.icon-edit-3:before {
  content: "\e90d";
}
.icon-message-square:before {
  content: "\e90e";
}
.icon-users:before {
  content: "\e90f";
}
.icon-notification:before {
  content: "\e910";
}
.icon-credit-card:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-categories:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-link:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-fax:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-Icon-upload:before {
  content: "\e919";
}
.icon-money:before {
  content: "\e91a";
}
.icon-check-square:before {
  content: "\e91b";
}
.icon-new-staff:before {
  content: "\e91c";
}
.icon-pending-1:before {
  content: "\e91d";
}
.icon-move:before {
  content: "\e91e";
}
.icon-trash:before {
  content: "\e91f";
>>>>>>> feature/PRIKE-174-product-cards---fe:web/app/themes/prike-theme/resources/images/icons/prike-icons/style.css
}
.icon-mail:before {
  content: '\e920';
}
<<<<<<< HEAD:web/app/themes/prike-theme/resources/images/icons/style.scss
.icon-map-pin:before {
  content: '\e921';
}
.icon-menu:before {
  content: '\e922';
}
.icon-message-square:before {
  content: '\e923';
}
.icon-minus:before {
  content: '\e924';
}
.icon-money:before {
  content: '\e925';
}
.icon-move:before {
  content: '\e926';
}
.icon-new-staff:before {
  content: '\e927';
}
.icon-notification:before {
  content: '\e928';
}
.icon-pending-1:before {
  content: '\e929';
}
=======
.icon-phone:before {
  content: "\e921";
}
.icon-thumbs-down:before {
  content: "\e922";
}
.icon-thumbs-up:before {
  content: "\e923";
}
.icon-sliders:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e927";
}
>>>>>>> feature/PRIKE-174-product-cards---fe:web/app/themes/prike-theme/resources/images/icons/prike-icons/style.css
.icon-pending:before {
  content: '\e92a';
}
<<<<<<< HEAD:web/app/themes/prike-theme/resources/images/icons/style.scss
.icon-percent:before {
  content: '\e92b';
}
.icon-phone:before {
  content: '\e92c';
}
.icon-plus:before {
  content: '\e92d';
}
.icon-point:before {
  content: '\e92e';
}
.icon-right:before {
  content: '\e92f';
}
.icon-search:before {
  content: '\e930';
}
.icon-share:before {
  content: '\e931';
}
.icon-sliders:before {
  content: '\e932';
}
.icon-star:before {
  content: '\e933';
}
.icon-support:before {
  content: '\e934';
}
.icon-thumbs-down:before {
  content: '\e935';
}
.icon-thumbs-up:before {
  content: '\e936';
}
.icon-trash:before {
  content: '\e937';
}
.icon-up:before {
  content: '\e938';
}
.icon-upload:before {
  content: '\e939';
}
.icon-user-ver .path1:before {
  content: '\e93a';
  color: rgb(228, 189, 113);
}
.icon-user-ver .path2:before {
  content: '\e93b';
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-users:before {
  content: '\e93c';
}
.icon-wishlist:before {
  content: '\e93d';
=======
.icon-bag .path1:before {
  content: "\e92e";
  color: rgb(29, 28, 32);
}
.icon-bag .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(29, 28, 32);
}
.icon-bag .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(228, 189, 113);
}
.icon-bag .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-user-ver .path1:before {
  content: "\e932";
  color: rgb(228, 189, 113);
}
.icon-user-ver .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-eye:before {
  content: "\e934";
}
.icon-eye-off:before {
  content: "\e935";
}
.icon-check:before {
  content: "\e936";
}
.icon-acc:before {
  content: "\e937";
}
.icon-menu:before {
  content: "\e938";
}
.icon-up:before {
  content: "\e939";
}
.icon-down:before {
  content: "\e93a";
}
.icon-right:before {
  content: "\e93b";
}
.icon-left:before {
  content: "\e93c";
>>>>>>> feature/PRIKE-174-product-cards---fe:web/app/themes/prike-theme/resources/images/icons/prike-icons/style.css
}
.icon-close:before {
  content: "\e93d";
}
.icon-minus:before {
  content: "\e93e";
}
.icon-plus:before {
  content: "\e93f";
}
