.letter-line {
  @apply flex flex-row;
  &:before,
  &:after {
    content: '';
    flex: 1 1;
    @apply border-b border-line m-auto;
  }
  &:before {
    @apply mr-2.5;
  }
  &:after {
    @apply ml-2.5;
  }
}

#name-tags,
#category-tags {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
