.expert-background {
  background: linear-gradient(
    180deg,
    #ededed -10.23%,
    #e2e2e2 64.63%,
    #dcdcdc 84.71%,
    #d4d4d4 109.39%
  );
}

.ellipse {
  width: 416px;
  height: 416px;

  /* White */

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 9999px;
}
