.form-input:focus + .form-label {
  @apply block;
}

// Custom dropdown
.custom-select-wrapper {
  @apply relative select-none w-full;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;

  &__trigger {
    @apply relative flex items-center justify-between border-line border-2 rounded p-5;
  }

  &.open > &__trigger {
    @apply rounded-b-none;
  }

  &.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &.open > .custom-select__trigger > .arrow {
    @apply transform rotate-180 duration-500;
  }
}

.custom-options {
  @apply absolute block top-full inset-x-0 border-line border rounded-b opacity-0;
}

.custom-option {
  @apply block relative p-4 cursor-pointer bg-white
  hover:bg-bg1;
  &:hover > p:first-of-type {
    @apply text-gold;
  }

  &.selected {
    @apply bg-bg1;

    p:first-of-type {
      @apply text-gold;
    }
  }
}
