:root {
  --color-grey-3: #505050;
  --color-grey-4: #171617;
  --color-gold-1: #c99238;
}

.open-account-bg {
  background-image: linear-gradient(
    180deg,
    #161516 64.78%,
    rgba(22, 21, 22, 0) 73.26%
  ), url('../images/mock-data/frontpage-open-account-bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.header {
  .container {
    height: 3.75rem;
    @screen sm {
      height: auto;
    }
  }
}

.sm-background-size-200 {
  background-size: 200%;
  @screen sm {
    background-size: initial;
  }
}

.text-grey-4 {
  color: var(--color-grey-4);
}

.text-gold-1 {
  color: var(--color-gold-1);
}

.gradient-gold-black {
  background: linear-gradient(90deg, #000 -0.76%, #f1ce72 51.16%, #000 98.92%);
}

@screen lg {
  .lg\:w-17\.625 {
    width: 17.625rem;
  }

  .lg\:w-23\.5 {
    width: 23.5rem;
  }

  .lg\:w-25 {
    width: 25rem;
  }

  .lg\:w-27 {
    width: 27rem;
  }

  .lg\:w-30 {
    width: 30rem;
  }

  .lg\:w-39\.5 {
    width: 39.5rem;
  }

  .lg\:h-33 {
    height: 33rem;
  }

  .lg\:min-h-27\.75 {
    min-height: 27.75rem;
  }

  .lg\:max-h-90p {
    max-height: 90%;
  }

  .lg\:max-w-90p {
    max-width: 90%;
  }

  .lg\:font-size-3 {
    font-size: 3rem;
  }

  .hero-content {
    left: 10%;
  }

  .lg\:px-475 {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }
}

.h-38 {
  height: 38rem;
}

.expert-1 {
  bottom: 0;
  left: -10%;
}

.expert-2 {
  bottom: 0;
  left: 20%;
}

.rounded-100 {
  border-radius: 6rem;
}

.slick-next:hover::before,
.slick-arrow:hover::before {
  color: white;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-1\.75 {
  font-size: 1.75rem;
}

.font-size-13px {
  font-size: 0.8125rem;
  line-height: 1.1;
}

@screen lg {
  .lg\:font-size-3 {
    font-size: 3rem;
  }

  .lg\:font-size-2 {
    font-size: 2rem;
  }
}

.slick-next::before {
  content: url("../images/icons/arrow-right-white.svg");
}

.recipes-slider-arrows {
  .slick-next::before {
    content: url("../images/icons/arrow-right-black.svg");
  }

  .slick-prev::before {
    content: url("../images/icons/arrow-left-black.svg");
  }

  .slick-next:hover::before {
    content: url("../images/icons/arrow-right-white.svg");
  }

  .slick-prev:hover::before {
    content: url("../images/icons/arrow-left-white.svg");
  }
}
