.slick-dots {
  @screen lg {
    @apply relative bottom-0;
  }

  .hero-slider & {
    @apply bg-gray-1 h-5 absolute bottom-1;
    @screen lg {
      @apply bottom-4 h-0;
    }
  }

  & li button {
    @apply bg-regular-2 w-2 h-2 rounded-full;

    .hero-slider & {
      @apply bg-white;
    }

    @screen lg {
      @apply bg-regular-2;
    }

    &::before {
      display: none;
    }
  }

  & .slick-active button {
    @apply w-3 h-3 ring-2 ring-secondary-1 bg-transparent;

    .hero-slider & {
      @apply bg-transparent;

      box-shadow: 0 0 0 0 #fff, 0 0 0 3px white, 0 0 #0000;
    }

    .single-product-slider-dots & {
      @apply ring-gray-1;
    }

    &::before {
      display: none;
    }
  }
}

.slick-dotted.slick-slider {
  @apply mb-0;
}
