.product-slider {
  .slick-list {
    @apply overflow-visible lg:overflow-hidden;
  }

  & .slick-prev {
    display: none !important;
  }

  .slick-next {
    background: black;

    &::before {
      color: white;
    }

    @screen lg {
      position: absolute;
      right: -1.1rem;
      top: 175px;
    }
  }
}

.single-product-slider-dots {
  .slick-dots {
    position: static !important;
  }
}
