/* Hide default HTML checkbox */

/* The toggler */
.toggler:before {
  @apply absolute w-3.75 h-3.75 left-3px bottom-3px bg-white duration-300;
  content: '';
}

input:checked + .toggler {
  @apply bg-gold;
}

input:checked + .toggler:before {
  @apply transform translate-x-4;
}

/* Rounded togglers */
.toggler.round {
  border-radius: 34px;
}

.toggler.round:before {
  border-radius: 50%;
}
