@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600&display=swap&family=Epilogue:wght@500&display=swap&family=Roboto&display=swap&family=Federo&display=swap');

  h1 {
    @apply font-playfair text-3xl leading-x1.1;

    @screen lg {
      @apply text-4xl leading-x1.2;
    }
  }

  h2 {
    @apply font-playfair font-semibold text-2xl leading-x1.2;

    @screen lg {
      @apply text-3xl leading-x1.1;
    }
  }

  h3 {
    @apply font-poppins font-medium text-xl leading-x1.2;

    @screen lg {
      @apply font-normal;
    }
  }

  h4 {
    @apply font-poppins font-medium text-lg leading-x1.2;
  }

  h5 {
    @apply font-poppins font-medium text-base leading-x1.6;
    @screen lg {
      @apply leading-x1.4;
    }

    .subtitle {
      @apply leading-x1.1;
    }
  }

  p {
    @apply font-poppins text-title;

    font-size: 1rem;
    @apply leading-x1.6;

    .lead {
      @apply font-normal text-base-plus leading-x1.4;

      @screen lg {
        @apply text-lg leading-9;
      }
    }

    &.body-2 {
      @apply text-regular leading-x1.6;

      font-size: 0.875rem;
    }

    .highlight {
      @apply font-semibold;
    }

    .caption {
      @apply font-poppins text-sm font-medium leading-none;
    }
  }

  small {
    @apply font-poppins text-xxs leading-xs;

    @screen lg {
      @apply text-xs leading-1;
    }
  }

  input {
    @apply text-base-plus leading-2;
  }

  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus {
    @apply bg-black;
  }

  a {
    @apply font-medium text-sm leading-2 text-gold-2;

    @screen lg {
      @apply text-base leading-5;
    }

    .link-2 {
      @apply leading-4;
    }
  }

  button {
    @extend h5;

    &.gradient-gold {
      background: linear-gradient(268.47deg, $gold-gradient-1 -0.76%, $gold-gradient-2 51.16%, $gold-gradient-3 98.92%);

      &:hover {
        background: linear-gradient(267.51deg, $gold-gradient-1 16.73%, $gold-gradient-2 40.85%, $gold-gradient-3 63.03%);
      }

      &:active {
        background: linear-gradient(268.47deg, $gold-gradient-1 -0.76%, $gold-gradient-2 51.16%, $gold-gradient-3 98.92%);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .gradient {
    &-prike-new {
      background: linear-gradient(268.47deg, $gold-gradient-1 -0.76%, $gold-gradient-2 51.16%, $gold-gradient-3 98.92%);
    }

    &-green {
      background: linear-gradient(100.74deg, #c8efd8 1.43%, #addbdc 99.96%);
    }

    &-pink {
      background: linear-gradient(180deg, #fffbd5 0%, #ffc1cd 100%);
    }

    &-gift {
      background: linear-gradient(87.03deg, #ffd6d6 0%, #fff8b8 80.87%);
    }

    &-hero {
      background: linear-gradient(359.37deg, #171617 31.71%, rgba(23, 22, 23, 0) 41.42%);
      @screen lg {
        background: linear-gradient(180deg, rgba(23, 22, 23, 0) 0%, #171617 59.35%);
      }
    }

    &-silver {
      background: radial-gradient(40.03% 60.23% at 50% 50%, #ededed 0%, #e2e2e2 62.15%, #d4d4d4 99.31%);
    }

    &-silver-card {
      background: linear-gradient(130.79deg, #ededed 1.36%, #e2e2e2 48.48%, #d4d4d4 97.32%);
    }

    &-gold {
      background: radial-gradient(101.94% 133.72% at 5.56% 75.37%, #eed394 0%, #e4bd71 30.8%, #c49952 62.18%, #a47838 100%);
    }

    &-open-account {
      background: linear-gradient(180deg, #161516 64.78%, rgba(22, 21, 22, 0) 73.26%);
    }

    &-radial {
      &-discount {
        background: radial-gradient(65.17% 43.67% at 81.81% 49.72%, #fff4de 0%, #ffc887 100%);
      }

      &-gold {
        background: radial-gradient(81.94% 89.33% at 80.36% 74.5%, #ffbe36 0%, #654222 63.17%, #221b27 100%);
      }

      &-red {
        background: radial-gradient(82.34% 55.49% at 84.56% 64.74%, #e11f2b 0%, #21102f 100%);
      }

      &-green {
        background: radial-gradient(82.34% 55.49% at 84.56% 64.74%, #bbf7ba 0%, #101a2f 100%);
      }

      &-blue {
        background: radial-gradient(85.96% 145.59% at 57.77% 84.06%, #2e3a52 0%, #162442 31.81%, #0e1728 69.76%);
      }

      &-orange {
        background: radial-gradient(82.34% 55.49% at 84.56% 64.74%, #e58401 0%, #382902 100%);
      }

      &-champagne {
        background: radial-gradient(73.82% 55.8% at 84.56% 64.74%, #ffe194 0%, #f1ba61 100%);
      }
    }
  }

  .list-style {
    &-diamond {
      list-style-image: url('../images/icons/diamond.svg');
    }
  }
  //
  // Stretched link
  //

  .stretched-link {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
    }
  }
  .cat-filters {
    .cat-filter {
      &.is-active {
        .cat-title > h4 {
          @apply text-gold-2;
        }
        .caret {
          transform: rotate(180deg);
          span {
            @apply text-gold-2;
          }
        }
      }
    }
    &-mobile {
      .cat-filter {
        &.is-active {
          .caret {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .cat-slider {
    .slide {
      img {
        height: 580px;
      }
    }
  }
  .cat-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131313 100%);
    @screen lg {
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 10%, #131313 85%, #131313 100%);
    }
  }
  .cat-carousel-wrapper {
    .slick-arrow.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }
  .footer-nav-menu-item {
    &.is-open {
      span.icon-down {
        transform: rotate(180deg);
      }
    }
  }
}
