@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?1l5c1w');
  src: url('fonts/icomoon.eot?1l5c1w#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?1l5c1w') format('truetype'),
    url('fonts/icomoon.woff?1l5c1w') format('woff'), url('fonts/icomoon.svg?1l5c1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-support:before {
  content: '\e900';
}
.icon-bag-1:before {
  content: '\e901';
}
.icon-awwards:before {
  content: '\e902';
}
.icon-Icon-star:before {
  content: '\e903';
}
.icon-categories-1:before {
  content: '\e904';
}
.icon-wishlist:before {
  content: '\e906';
}
.icon-home:before {
  content: '\e907';
}
.icon-parcel-terminal:before {
  content: '\e908';
}
.icon-bd:before {
  content: '\e909';
}
.icon-delivery:before {
  content: '\e90a';
}
.icon-2:before {
  content: '\e90b';
}
.icon-edit-3:before {
  content: '\e90d';
}
.icon-message-square:before {
  content: '\e90e';
}
.icon-users:before {
  content: '\e90f';
}
.icon-notification:before {
  content: '\e910';
}
.icon-credit-card:before {
  content: '\e911';
}
.icon-lock:before {
  content: '\e912';
}
.icon-categories:before {
  content: '\e913';
}
.icon-search:before {
  content: '\e914';
}
.icon-link:before {
  content: '\e915';
}
.icon-arrow-right:before {
  content: '\e916';
}
.icon-fax:before {
  content: '\e917';
}
.icon-download:before {
  content: '\e918';
}
.icon-Icon-upload:before {
  content: '\e919';
}
.icon-money:before {
  content: '\e91a';
}
.icon-check-square:before {
  content: '\e91b';
}
.icon-new-staff:before {
  content: '\e91c';
}
.icon-pending-1:before {
  content: '\e91d';
}
.icon-move:before {
  content: '\e91e';
}
.icon-trash:before {
  content: '\e91f';
}
.icon-mail:before {
  content: '\e920';
}
.icon-phone:before {
  content: '\e921';
}
.icon-thumbs-down:before {
  content: '\e922';
}
.icon-thumbs-up:before {
  content: '\e923';
}
.icon-sliders:before {
  content: '\e924';
}
.icon-clock:before {
  content: '\e927';
}
.icon-pending:before {
  content: '\e92a';
}
.icon-bag .path1:before {
  content: '\e92e';
  color: rgb(29, 28, 32);
}
.icon-bag .path2:before {
  content: '\e92f';
  margin-left: -1em;
  color: rgb(29, 28, 32);
}
.icon-bag .path3:before {
  content: '\e930';
  margin-left: -1em;
  color: rgb(228, 189, 113);
}
.icon-bag .path4:before {
  content: '\e931';
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-user-ver .path1:before {
  content: '\e932';
  color: rgb(228, 189, 113);
}
.icon-user-ver .path2:before {
  content: '\e933';
  margin-left: -1em;
  color: rgb(23, 22, 23);
}
.icon-eye:before {
  content: '\e934';
}
.icon-eye-off:before {
  content: '\e935';
}
.icon-check:before {
  content: '\e936';
}
.icon-acc:before {
  content: '\e937';
}
.icon-menu:before {
  content: '\e938';
}
.icon-up:before {
  content: '\e939';
}
.icon-down:before {
  content: '\e93a';
}
.icon-right:before {
  content: '\e93b';
}
.icon-left:before {
  content: '\e93c';
}
.icon-close:before {
  content: '\e93d';
}
.icon-minus:before {
  content: '\e93e';
}
.icon-plus:before {
  content: '\e93f';
}
